<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium Udemy Test Suite" parallel="false">

    <test verbose="2" preserve-order="true" name="Smoke Test: Home Page">
        <classes>
            <class name="smokeTests.ATagsTest"/>
        </classes>
    </test> <!-- Test -->

    <test verbose="2" preserve-order="true" name="Smoke Test: Login">
        <classes>
            <class name="smokeTests.LoginPresentTestNG"/>
        </classes>
    </test> <!-- Test -->

</suite> <!-- Suite -->